html, body {
    height: 100%;
    width:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
    position:relative;
}
nav{
    background-color:whitesmoke;
}
#Home{
    margin-bottom: 60px;
}

#Projects {
    margin-bottom: 90px;
}
.line {
    width: 50%;
    border: 5px solid grey;
}
.jumbotron {
    background-image: url('../img/PC1.jpg');
    background-size: cover;
    height:100%;
    width:100%;
    height:calc(100% -1px);
    background-repeat: no-repeat;
    color: whitesmoke;
}
#introtxt{
    padding:30px;
}
.myProjects img{
    max-height:100%;
    max-width:100%;
    padding:20px;
}
.display-4{
    text-transform:uppercase;
}
#Contact {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #2D2C2A;
    color: whitesmoke;
}
.myIcons{
    font-size:25px;
    color:#e2e2e2;
}
i.fa{
    font-size:56px;
}
.myContact{
    text-align:center;
}
.show-contact{
  display:none;
}
